<!DOCTYPE html>
<html lang="ja">
{% load static %}
{% load humanize %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header>
    <a href="{% url 'ec:index' %}"><h1 class="header_obj">ファッション通販サイト</h1></a>
    <nav class="header_nav">
        <ui>
            {% if user.is_authenticated %}
            <li><a class="header_obj" href="{% url 'ec:login_user_info' %}">{{ user.username }}さん</a></li>
            <li><a class="header_obj" href="{% url 'ec:cart_list' %}">カート</a></li>
            <li><a class="header_obj" href="{% url 'ec:purchase_history' %}">購入履歴</a></li>
            <li><a class="header_obj" href="{% url 'logout' %}">ログアウト</a></li>
            {% else %}
            <li><a class="header_obj" href="{% url 'ec:login_success' %}">ログイン</a></li>
            {% endif %}
        </ui>
    </nav>
</header>
<hr>
{% block content %}{% endblock %}
</body>
</html>