<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div class="baseContainer">
    <div class="background-black"></div>
    <div class="contents">
        <a href="{% url 'ec:index' %}"><h1 class="title">ファッション通販サイト</h1></a>
        {% if user.is_superuser %}
        <a href="{% url 'logout' %}"><p class="logout">ログアウト</p></a>
        {% else %}
        <a href="{% url 'ec:login_success' %}"><p class="login">ログイン</p></a>
        {% endif %}
    </div>
</div>
<hr>
{% block content %}{% endblock %}
</body>
</html>