<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
    <title>商品一覧画面({{ bland_name }})</title>
</head>
<body>
<h2>- 商品一覧({{ bland_name }}) -</h2>
<hr>
<div class="productContainer">
    <h3>- ジャケット -</h3>
    {% if bland_list_jackets.0 is not None %}
    {% for jacket in bland_list_jackets %}
    <div class="product">
        <a href="{% url 'ec:jackets_detail' jacket.pk %}"><img src="{{ jacket.jacket_image.url }}" alt="ジャケット画像(クリックで詳細画面へ)" border="1" color="black" style="width:300px;height:300px"></a>
        <p class="productSize">{{ jacket.jacket_size }}サイズ</p>
        <p class="productPrice">¥ {{ jacket.jacket_price|intcomma }}</p>
    </div>
    {% endfor %}
    {% else %}
    <p>商品はありません。</p>
    {% endif %}
</div>
<hr>
<div class="productContainer">
    <h3>- シャツ -</h3>
    {% if bland_list_shirts.0 is not None %}
    {% for shirt in bland_list_shirts %}
    <div class="product">
        <a href="{% url 'ec:shirts_detail' shirt.pk %}"><img src="{{ shirt.shirt_image.url }}" alt="シャツ画像(クリックで詳細画面へ)" border="1" style="width:300px;height:300px"></a>
        <p class="productSize">{{ shirt.shirt_size }}サイズ</p>
        <p class="productPrice">¥ {{ shirt.shirt_price|intcomma }}</p>
    </div>
    {% endfor %}
    {% else %}
    <p>商品はありません。</p>
    {% endif %}
</div>
<hr>
<div class="productContainer">
    <h3>- パンツ -</h3>
    {% if bland_list_pants.0 is not None %}
    {% for pant in bland_list_pants %}
    <div class="product">
        <a href="{% url 'ec:pants_detail' pant.pk %}"><img src="{{ pant.pant_image.url }}" alt="パンツ画像(クリックで詳細画面へ)" border="1" style="width:300px;height:300px"></a>
        <p class="productSize">{{ pant.pant_size }}サイズ</p>
        <p class="productPrice">¥ {{ pant.pant_price|intcomma }}</p>
    </div>
    {% endfor %}
    {% else %}
    <p>商品はありません。</p>
    {% endif %}
</div>
<hr>
<div class="productContainer">
    <h3>- 靴 -</h3>
    {% if bland_list_shoes.0 is not None %}
    {% for shoe in bland_list_shoes %}
    <div class="product">
        <a href="{% url 'ec:shoes_detail' shoe.pk %}"><img src="{{ shoe.shoe_image.url }}" alt="靴画像(クリックで詳細画面へ)" border="1" style="width:300px;height:300px"></a>
        <p class="productSize">{{ shoe.shoe_size }}サイズ</p>
        <p class="productPrice">¥ {{ shoe.shoe_price|intcomma }}</p>
    </div>
    {% endfor %}
    {% else %}
    <p>商品はありません。</p>
    {% endif %}
</div>
<hr>
</body>
{% endblock %}
</html>