<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="ja" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/cart_list.css' %}">
    <title>カート内一覧表示画面</title>
</head>
<body>
<h2>- カート -</h2>
<hr>
{% if cartItem_len != 0 %}
<a class="purchase_confirm" href="{% url 'ec:purchase_confirm' %}">レジへ進む</a>
<hr>
{% for form in cartItem_list %}
<div class="cartContainer">
    <img class="cartObject" src="{{ form.jackets.jacket_image.url }}" style="width:300px;height:auto">
    <img class="cartObject" src="{{ form.shirts.shirt_image.url }}" style="width:300px;height:auto">
    <img class="cartObject" src="{{ form.pants.pant_image.url }}" style="width:300px;height:auto">
    <img class="cartObject" src="{{ form.shoes.shoe_image.url }}" style="width:300px;height:auto">
    <div class="cart_table">
        <table class="cartObject" border="1">
            <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>価格(税込)</th>
                <th>サイズ</th>
                <th>M or W</th>
                <th>ブランド名</th>
                <th>購入個数</th>
            </tr>
            <tr>
                <td>{{ form.jackets.jacket_id }} {{ form.shirts.shirt_id }} {{ form.pants.pant_id }} {{ form.shoes.shoe_id }}</td>
                <td>{{ form.jackets.jacket_name }} {{ form.shirts.shirt_name }} {{ form.pants.pant_name }} {{ form.shoes.shoe_name }}</td>
                <td>¥ {{ form.jackets.jacket_price }} {{ form.shirts.shirt_price }} {{ form.pants.pant_price }} {{ form.shoes.shoe_name }}</td>
                <td>{{ form.jackets.jacket_size }} {{ form.shirts.shirt_size }} {{ form.pants.pant_size }} {{ form.shoes.shoe_size }}</td>
                <td>{{ form.jackets.jacket_sex }} {{ form.shirts.shirt_sex }} {{ form.pants.pant_sex }} {{ form.shoes.shoe_sex }}</td>
                <td>{{ form.jackets.jacket_bland }} {{ form.shirts.shirt_bland }} {{ form.pants.pant_bland }} {{ form.shoes.shoe_bland }}</td>
                <td>{{ form.quantity }}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="change_delete">
        <a href="{% url 'ec:update_cart' form.id %}"><p>個数変更</p></a>
        <a href="{% url 'ec:delete_cart' form.id %}"><p>削除</p></a>
    </div>
</div>
<hr>
{% endfor %}

{% else %}
<p>カートの中に商品は入っていません。</p>
{% endif %}

{% if cart_list_info is not None %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="cartContainer">
        <img class="cartObject" src="{{ cart_list_info.jackets.jacket_image.url }}" style="width:300px;height:auto">
        <img class="cartObject" src="{{ cart_list_info.shirts.shirt_image.url }}" style="width:300px;height:auto">
        <img class="cartObject" src="{{ cart_list_info.pants.pant_image.url }}" style="width:300px;height:auto">
        <img class="cartObject" src="{{ cart_list_info.shoes.shoe_image.url }}" style="width:300px;height:auto">
        <div class="cart_table">
            <table class="cartObject" border="1">
                <tr>
                    <th>商品ID</th>
                    <th>商品名</th>
                    <th>価格(税込)</th>
                    <th>サイズ</th>
                    <th>M or W</th>
                    <th>ブランド名</th>
                    <th>購入個数</th>
                </tr>
                <tr>
                    <td>{{ cart_list_info.jackets.jacket_id }} {{ cart_list_info.shirts.shirt_id }} {{ cart_list_info.pants.pant_id }} {{ cart_list_info.shoes.shoe_id }}</td>
                    <td>{{ cart_list_info.jackets.jacket_name }} {{ cart_list_info.shirts.shirt_name }} {{ cart_list_info.pants.pant_name }} {{ cart_list_info.shoes.shoe_name }}</td>
                    <td>¥ {{ cart_list_info.jackets.jacket_price }} {{ cart_list_info.shirts.shirt_price }} {{ cart_list_info.pants.pant_price }} {{ cart_list_info.shoes.shoe_name }}</td>
                    <td>{{ cart_list_info.jackets.jacket_size }} {{ cart_list_info.shirts.shirt_size }} {{ cart_list_info.pants.pant_size }} {{ cart_list_info.shoes.shoe_size }}</td>
                    <td>{{ cart_list_info.jackets.jacket_sex }} {{ cart_list_info.shirts.shirt_sex }} {{ cart_list_info.pants.pant_sex }} {{ cart_list_info.shoes.shoe_sex }}</td>
                    <td>{{ cart_list_info.jackets.jacket_bland }} {{ cart_list_info.shirts.shirt_bland }} {{ cart_list_info.pants.pant_bland }} {{ cart_list_info.shoes.shoe_bland }}</td>
                    <td>{{ cart_list_info.quantity }}</td>
                </tr>
            </table>
            <p>{{ cart_list_form.purchase_num }}</p>
            <p><input type="submit" value="個数変更"></p>
        </div>
    </div>
</form>
{% endif %}

</body>
{% endblock %}
</html>