<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>ファッション通販サイト</title>
</head>
<body>
{% if user.is_superuser %}
<a href="{% url 'ec:product_entry' %}"><p>商品登録する</p></a>
<a href="{% url 'ec:product_delete' %}"><p>商品削除する</p></a>
<hr>
{% endif %}
<div class="category">
    <h2>- カテゴリーから探す -</h2>
    <div class="category_obj">
        <a href="{% url 'ec:jackets_list' %}"><p>ジャケット</p></a>
        <a href="{% url 'ec:shirts_list' %}"><p>シャツ</p></a>
        <a href="{% url 'ec:pants_list' %}"><p>パンツ</p></a>
        <a href="{% url 'ec:shoes_list' %}"><p>靴</p></a>
    </div>
</div>
<div>
    <h2>- ブランドから探す -</h2>
    <div class="category_obj">
        <a href="{% url 'ec:bland_a_list' %}"><p>ブランドA</p></a>
        <a href="{% url 'ec:bland_b_list' %}"><p>ブランドB</p></a>
        <a href="{% url 'ec:bland_c_list' %}"><p>ブランドC</p></a>
        <a href="{% url 'ec:bland_d_list' %}"><p>ブランドD</p></a>
    </div>
</div>
</body>
{% endblock %}
</html>