<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
    <title>商品一覧画面(ジャケット)</title>
</head>
<body>
<h2>- 商品一覧(ジャケット) -</h2>
<hr>
<form method="get">
    {% csrf_token %}
    <p>ブランド名検索：<input name="jacket_bland_icon" value="{{ request.GET.query }}" type="text"></p>
    <p>価格範囲検索：<input name="min_price" value="{{ request.GET.query }}" type="number">円 ~
        <input name="max_price" value="{{ request.GET.query }}" type="number">円</p>
    <button type="submit">検索</button>
</form>
<hr>
<div class="productContainer">
    {% for form in jackets_list %}
        <div class="product">
            <a href="{% url 'ec:jackets_detail' form.pk %}"><img src="{{ form.jacket_image.url }}" alt="ジャケット画像" style="width:300px;height:300px"></a>
            <p class="productBland">{{ form.jacket_bland }}</p>
            <p class="productPrice">¥ {{ form.jacket_price }}</p>
        </div>
    {% endfor %}
</div>
</body>
{% endblock %}
</html>