<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
    <title>商品一覧画面(パンツ)</title>
</head>
<body>
<h2>- 商品一覧(パンツ) -</h2>
<hr>
<form method="get">
    {% csrf_token %}
    <p>ブランド名検索：<input name="pant_bland_icon" value="{{ request.GET.query }}" type="text"></p>
    <p>価格範囲検索：<input name="min_price" value="{{ request.GET.query }}" type="number">円 ~
        <input name="max_price" value="{{ request.GET.query }}" type="number">円</p>
    <button type="submit">検索</button>
</form>
<hr>
<div class="productContainer">
    {% for form in pants_list %}
    <div class="product">
        <a href="{% url 'ec:pants_detail' form.pk %}"><img src="{{ form.pant_image.url }}" alt="パンツ画像(クリックで詳細画面へ)" border="1" color="black" style="width:300px;height:300px"></a>
        <p class="productBland">{{ form.pant_bland }}</p>
        <p class="productSize">{{ form.pant_size }}サイズ</p>
        <p class="productPrice">¥ {{ form.pant_price|intcomma }}</p>
    </div>
    {% endfor %}
</div>
</body>
{% endblock %}
</html>