<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品詳細画面(パンツ)</title>
</head>
<body>
<table border="1">
    <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>価格(税抜)</th>
        <th>サイズ</th>
        <th>M or W</th>
        <th>ブランド名</th>
        <th>在庫数</th>
    </tr>
    <tr>
        <td>{{ pants.pant_id }}</td>
        <td>{{ pants.pant_name }}</td>
        <td>{{ pants.pant_price }}</td>
        <td>{{ pants.pant_size }}</td>
        <td>{{ pants.pant_sex }}</td>
        <td>{{ pants.pant_bland }}</td>
        <td>{{ pants.pant_stock }}</td>
    </tr>
</table>
<img src="{{ pants.pant_image.url }}" style="width:300px;height:auto">
<h1>カートに入れる</h1>
</body>
{% endblock %}
</html>