<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品詳細画面(パンツ)</title>
</head>
<body>
<table border="1">
    <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>価格(税抜)</th>
        <th>サイズ</th>
        <th>M or W</th>
        <th>ブランド名</th>
    </tr>
    <tr>
        <td>{{ pants.pant_id }}</td>
        <td>{{ pants.pant_name }}</td>
        <td>{{ pants.pant_price }}</td>
        <td>{{ pants.pant_size }}</td>
        <td>{{ pants.pant_sex }}</td>
        <td>{{ pants.pant_bland }}</td>
    </tr>
</table>
<h1>カートに入れる</h1>
</body>
{% endblock %}
</html>