<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品詳細画面</title>
</head>
<body>
<table border="1">
    <tr>
        <th>商品名</th>
        <th>価格(税抜)</th>
        <th>サイズ</th>
        <th>M or W</th>
        <th>ブランド名</th>
    </tr>
    <tr>
        <td>{{ jackets.jacket_name }}</td>
        <td>{{ jackets.jacket_price }}</td>
        <td>{{ jackets.jacket_size }}</td>
        <td>{{ jackets.jacket_sex }}</td>
        <td>{{ jackets.jacket_bland }}</td>
    </tr>
</table>
</body>
</html>