<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/purchase_history.css' %}">
    <title>購入履歴画面</title>
</head>
<body>
<h2>- 購入履歴 -</h2>
<hr>
{% if purchase_history_user_len != 0 %}
{% for key, value in purchase_history_dict %}
<p>購入番号：{{ key }} (購入日付：{{ value.0.date_added }})</p>

{% if value.0.use_coupon != 0 %}
<p>支払い金額：¥ {{ value.0.purchase_sum }}</p>
<p>※ 1000円引きクーポン{{ value.0.use_coupon }}枚使用</p>
{% else %}
<p>支払い金額：¥ {{ value.0.purchase_sum }}</p>
<p>※ クーポン使用なし</p>
{% endif %}

{% for v in value %}
<table class="productsObject" border="1">
    <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>価格(税込)</th>
        <th>サイズ</th>
        <th>M or W</th>
        <th>ブランド名</th>
        <th></th>
        <th>購入個数</th>
    </tr>
    {% if v.jackets_history is not None %}
    <tr>
        <td>{{ v.jackets_history.jacket_id }}</td>
        <td>{{ v.jackets_history.jacket_name }}</td>
        <td>{{ v.jackets_history.jacket_price }}</td>
        <td>{{ v.jackets_history.jacket_size }}</td>
        <td>{{ v.jackets_history.jacket_sex }}</td>
        <td>{{ v.jackets_history.jacket_bland }}</td>
        <td></td>
        <td>{{ v.quantity }}</td>
    </tr>
    {% elif v.shirts_history is not None %}
    <tr>
        <td>{{ v.shirts_history.shirt_id }}</td>
        <td>{{ v.shirts_history.shirt_name }}</td>
        <td>{{ v.shirts_history.shirt_price }}</td>
        <td>{{ v.shirts_history.shirt_size }}</td>
        <td>{{ v.shirts_history.shirt_sex }}</td>
        <td>{{ v.shirts_history.shirt_bland }}</td>
        <td></td>
        <td>{{ v.quantity }}</td>
    </tr>
    {% elif v.pants_history is not None %}
    <tr>
        <td>{{ v.pants_history.pant_id }}</td>
        <td>{{ v.pants_history.pant_name }}</td>
        <td>{{ v.pants_history.pant_price }}</td>
        <td>{{ v.pants_history.pant_size }}</td>
        <td>{{ v.pants_history.pant_sex }}</td>
        <td>{{ v.pants_history.pant_bland }}</td>
        <td></td>
        <td>{{ v.quantity }}</td>
    </tr>
    {% elif purchase.shoes_history is not None %}
    <tr>
        <td>{{ v.shoes_history.shoe_id }}</td>
        <td>{{ v.shoes_history.shoe_name }}</td>
        <td>{{ v.shoes_history.shoe_price }}</td>
        <td>{{ v.shoes_history.shoe_size }}</td>
        <td>{{ v.shoes_history.shoe_sex }}</td>
        <td>{{ v.shoes_history.shoe_bland }}</td>
        <td></td>
        <td>{{ v.quantity }}</td>
    </tr>
    {% endif %}
</table>
<img src="{{ v.jackets_history.jacket_image.url }}" style="width:300px;height:auto">
<img src="{{ v.shirts_history.shirt_image.url }}" style="width:300px;height:auto">
<img src="{{ v.pants_history.pant_image.url }}" style="width:300px;height:auto">
<img src="{{ v.shoes_history.shoe_image.url }}" style="width:300px;height:auto">
{% endfor %}
<hr>
{% endfor %}
{% else %}
<p>購入履歴はありません。</p>
{% endif %}
</body>
{% endblock %}
</html>