<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/products_detail.css' %}">
    <title>商品詳細画面(シャツ)</title>
</head>
<body>
<h2>- 商品詳細(シャツ) -</h2>
<div class="productsContainer">
    <img class="productsObject" src="{{ shirts.shirt_image.url }}" alt="シャツ画像" style="width:450px;height:auto">
    <div class="products_table">
        <table class="productsObject" border="1">
            <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>価格(税込)</th>
                <th>サイズ</th>
                <th>M or W</th>
                <th>ブランド名</th>
                <th>在庫数</th>
            </tr>
            <tr>
                <td>{{ shirts.shirt_id }}</td>
                <td>{{ shirts.shirt_name }}</td>
                <td>{{ shirts.shirt_price }}</td>
                <td>{{ shirts.shirt_size }}</td>
                <td>{{ shirts.shirt_sex }}</td>
                <td>{{ shirts.shirt_bland }}</td>
                <td>{{ shirts.shirt_stock }}</td>
            </tr>
        </table>
        {% if shirts.shirt_stock != '0' %}
        <a href="{% url 'ec:add_cart_shirts' shirts.id %}"><p>カートに入れる</p></a>
        {% else %}
        <p>完売</p>
        {% endif %}
    </div>
</div>
</body>
{% endblock %}
</html>