<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="ja">
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
    <title>商品一覧画面(靴)</title>
</head>
<body>
<h2>- 商品一覧(靴) -</h2>
<hr>
<form method="get">
     {% csrf_token %}
    <p>ブランド名検索：<input name="shoe_bland_icon" value="{{ request.GET.query }}" type="text"></p>
    <p>価格範囲検索：<input name="min_price" value="{{ request.GET.query }}" type="number">円 ~
        <input name="max_price" value="{{ request.GET.query }}" type="number">円</p>
    <button type="submit">検索</button>
</form>
<hr>
<div class="productContainer">
    {% for form in shoes_list %}
    <div class="product">
        <a href="{% url 'ec:shoes_detail' form.pk %}"><img src="{{ form.shoe_image.url }}" alt="靴画像(クリックで詳細画面へ)" border="1" style="width:300px;height:300px"></a>
        <p class="productBland">{{ form.shoe_bland }}</p>
        <p class="productPrice">¥ {{ form.shoe_price }}</p>
    </div>
    {% endfor %}
</div>
</body>
{% endblock %}
</html>