<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/purchase.css' %}">
    <title>購入確認画面</title>
</head>
<body>
<h2>- 購入確認 -</h2>
<hr>
<div class="purchase_div">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>クーポン使用枚数：{{ coupon_form.use_coupon }}</p>
        {% if 'use_coupon' in pre_url and 'purchase_confirm' not in pre_url %}
        <p>保有クーポン枚数を超えています。</p>
        {% endif %}
        <input type="submit" value="クーポンを使用する">
    </form>
</div>
<hr>
{% for cart in cart_all %}
<div class="purchaseContainer">
    <img class="purchaseObject" src="{{ cart.0.jackets.jacket_image.url }}" style="width:300px;height:auto">
    <img class="purchaseObject" src="{{ cart.0.shirts.shirt_image.url }}" style="width:300px;height:auto">
    <img class="purchaseObject" src="{{ cart.0.pants.pant_image.url }}" style="width:300px;height:auto">
    <img class="purchaseObject" src="{{ cart.0.shoes.shoe_image.url }}" style="width:300px;height:auto">
    <div class="purchase_table">
        <table class="purchaseObject" border="1">
            <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>価格(税込)</th>
                <th>サイズ</th>
                <th>M or W</th>
                <th>ブランド名</th>
                <th></th>
                <th>購入個数</th>
            </tr>
            {% if cart.0.jackets is not None %}
            <tr>
                <td>{{ cart.0.jackets.jacket_id }}</td>
                <td>{{ cart.0.jackets.jacket_name }}</td>
                <td>{{ cart.0.jackets.jacket_price }}</td>
                <td>{{ cart.0.jackets.jacket_size|intcomma }}</td>
                <td>{{ cart.0.jackets.jacket_sex }}</td>
                <td>{{ cart.0.jackets.jacket_bland }}</td>
                <td></td>
                <td>{{ cart.0.quantity }}</td>
            </tr>
            {% elif cart.0.shirts is not None %}
            <tr>
                <td>{{ cart.0.shirts.shirt_id }}</td>
                <td>{{ cart.0.shirts.shirt_name }}</td>
                <td>{{ cart.0.shirts.shirt_price|intcomma }}</td>
                <td>{{ cart.0.shirts.shirt_size }}</td>
                <td>{{ cart.0.shirts.shirt_sex }}</td>
                <td>{{ cart.0.shirts.shirt_bland }}</td>
                <td></td>
                <td>{{ cart.0.quantity }}</td>
            </tr>
            {% elif cart.0.pants is not None %}
            <tr>
                <td>{{ cart.0.pants.pant_id }}</td>
                <td>{{ cart.0.pants.pant_name }}</td>
                <td>{{ cart.0.pants.pant_price|intcomma }}</td>
                <td>{{ cart.0.pants.pant_size }}</td>
                <td>{{ cart.0.pants.pant_sex }}</td>
                <td>{{ cart.0.pants.pant_bland }}</td>
                <td></td>
                <td>{{ cart.0.quantity }}</td>
            </tr>
            {% elif cart.0.shoes is not None %}
            <tr>
                <td>{{ cart.0.shoes.shoe_id }}</td>
                <td>{{ cart.0.shoes.shoe_name }}</td>
                <td>{{ cart.0.shoes.shoe_price|intcomma }}</td>
                <td>{{ cart.0.shoes.shoe_size }}</td>
                <td>{{ cart.0.shoes.shoe_sex }}</td>
                <td>{{ cart.0.shoes.shoe_bland }}</td>
                <td></td>
                <td>{{ cart.0.quantity }}</td>
            </tr>
            {% endif %}
        </table>
        <p>小計：¥ {{ cart.1 }}</p>
    </div>
</div>
<hr>
{% endfor %}
</body>
{% endblock %}
</html>