header {
  display: flex;
  align-items: center;
  background-color: black;
}

a {
  text-decoration: none;
}

ui {
  list-style: none;
  display: flex;
}

li {
  margin-right: 15px;
}

nav {
  margin-left: auto;
}

.header_obj {
  color: white;
}