.baseContainer {
  position: relative;
  width: 100%;
}

.background-black {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: black;
}

.contents {
  position: relative;
  overflow: hidden;
}

.title {
  color: white;
  float: left;
}

.login {
  color: white;
  float: left;
  margin-left: 950px;
}

.logout {
  color: white;
  float: left
  margin-left: 950px;
}

.cart {
  color: white;
  margin-left: 900px;
}

.purchase_history {
  color: history;
  float: left;
  margin-left: 850px;
}