.cartContainer {
  overflow: hidden;
}

.cartObject {
  float: left;
}

.change_delete {
  float: right;
}

.cart_table {
  display: flex;
  flex-direction: column;
}

.purchase_confirm {
  color: white;
  background: #0099FF;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

td, p {
  text-align: center;
}