.productContainer {
  overflow: hidden;
}

.product {
  float: left;
  margin-right: 10px;
}

.productBland {
  text-align: center;
}

.productSize {
  text-align: center;
}

.productPrice {
  text-align: center;
}